In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\carlo\Documents\Data Science con python-Numpy y pandas\Recursos del curso\Datasets+Data+Science+con+Python+-+Pandas\1.3\Info_pais.csv',encoding = "ISO-8859-1", delimiter=";")

In [6]:
df.head(20)

              País   Poblacion  Renta per capita Esperanza de vida
0    United States   325084756             59939              78,9
1            China  1421021791              8612              76,7
2            Japan   127502725             38214              84,5
3          Germany    82658409             44680              81,2
4            India  1338676785              1980              69,4
5   United Kingdom    66727461             39532              81,2
6           France    64842509             39827              82,5
7           Brazil   207833823              9881              75,7
8            Italy    60673701             32038              83,6
9           Canada    36732095             44841              82,3
10          Russia   145530082             10846              72,4
11     South Korea    51096415             29958              82,8
12       Australia    24584620             53831              83,3
13           Spain    46647428             28175              83,4
14          Mexico   124777324              9224                75
15       Indonesia   264650963              3837              71,5
16          Turkey    81116450             10498              78,3
17     Netherlands    17021347             48796              82,1
18    Saudi Arabia    33101179             20747                75
19       Argentina    43937140             14508              76,5

In [8]:
df_order = df.sort_values("Esperanza de vida", ascending=True)

In [12]:
df_order.head(50)

                         País   Poblacion  Renta per capita Esperanza de vida
151  Central African Republic     4596023               424              52,8
149                   Lesotho     2091534              1233              53,7
128                      Chad    15016753               657                54
143              Sierra Leone     7488423               504              54,3
28                    Nigeria   190873244              1969              54,3
89              Côte d'Ivoire    24437470              1529              57,4
158             Guinea-Bissau     1828145               737                58
120         Equatorial Guinea     1262002              9741              58,4
110                      Mali    18512430               828              58,9
91                   Cameroon    24566073              1422              58,9
142                  Eswatini     1124805              3942              59,4
117                Mozambique    28649018               441              60,2
53                     Angola    29816766              4096              60,8
140                      Togo     7698474               618              60,8
127                    Guinea    12067519               868              61,2
119              Burkina Faso    19193234               642              61,2
103                  Zimbabwe    14236595              1548              61,2
146                   Burundi    10827019               293              61,2
129                     Benin    11175198               827              61,5
157                    Gambia     2213889               673              61,7
133                     Niger    21602382               376                62
95                     Uganda    41166588               631                63
63                      Kenya    50221142              1578              63,3
116                   Namibia     2402633              5516              63,4
96                     Zambia    16853599              1535              63,5
131                     Haiti    10982366               766              63,7
145                   Liberia     4702226               699              63,7
70                      Ghana    29121465              2026              63,8
136                    Malawi    17670196               357              63,8
30               South Africa    57009756              6120              63,9
161                   Comoros      813892              1312              64,1
105          Papua New Guinea     8438036              2434              64,3
106               Afghanistan    36296113               538              64,5
138                Mauritania     4282570              1173              64,7
77                   Tanzania    54660339               975                65
55                      Sudan    40813397              2879              65,1
92                      Yemen    27834819              1123              66,1
112                     Gabon     2064823              7271              66,2
62                   Ethiopia   106399924               757              66,2
124                Madagascar    25570512               450              66,7
67                    Myanmar    53382523              1256              66,9
38                   Pakistan   207906209              1467              67,1
137                      Fiji      877459              5768              67,3
109                      Laos     6953035              2424              67,6
104                   Senegal    15419355              1366              67,7
87               Turkmenistan     5757667              6587              68,1
167                  Kiribati      114158              1626              68,1
130                    Rwanda    11980961               762              68,7
108                  Botswana     2205080              7894              69,3
4                       India  1338676785              1980              69,4